{% extends 'test/tem.html' %}
{% load static %}

{% block app-head %}
<title>大屏 — 云视化</title>
{% endblock %}


{% block app-content %}
    <div class="content-wrapper">
        <div class="content-header row">
            <div class="content-header-right col-md-12 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-6">
                        <h2 class="content-header-title float-left mb-0">大屏展示</h2>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/job51/Visualization">Visualization</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="input-group">
                            <label for="searchInput" class="input-group-prepend">
                                <span class="input-group-text">搜索岗位</span>
                            </label>
                            <input type="text" id="searchInput" class="form-control"
                                   placeholder="输入关键字">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button" onclick="searchJobs()">搜索
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body" style="height: 500px;padding: 0;border-radius:2em">
                                    <iframe frameborder="0" src="http://51job.pshxx.cc/test"
                                            style="width: 100%; height: 100%;border-radius:1em"></iframe>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block app-foot %}
    <script>
        function searchJobs() {
            var keyword = $('#searchInput').val();
            $.ajax({
                type: 'GET',
                url: '/job51/search/', // 替换为您的搜索URL
                data: {
                    'keyword': keyword
                },
                success: function (response) {
                    // 在成功回调函数中，将页面重定向到另一个页面
                    window.location.href = '/job51/search/?keyword=' + keyword;
                },
                error: function (error) {
                    console.log(error);
                }
            });
        }
    </script>
        <script>
        var links = document.querySelectorAll('li.nav-item a');
        links.forEach(function(link) {
            if (link.getAttribute('href') === '/job51/visual_screen') {
                link.classList.add('active');
                link.parentElement.classList.add('active');
            }
        });
    </script>
{% endblock %}