<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>招聘信息可视化展示</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/img/favicon.ico">
    <!-- CSS here -->
    <link rel="stylesheet" href="../../static/assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../static/assets/css/owl.carousel.min.css">
    <link rel="stylesheet" href="../../static/assets/css/flaticon.css">
    <link rel="stylesheet" href="../../static/assets/css/slicknav.css">
    <link rel="stylesheet" href="../../static/assets/css/animate.min.css">
    <link rel="stylesheet" href="../../static/assets/css/magnific-popup.css">
    <link rel="stylesheet" href="../../static/assets/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="../../static/assets/css/themify-icons.css">
    <link rel="stylesheet" href="../../static/assets/css/slick.css">
    <link rel="stylesheet" href="../../static/assets/css/nice-select.css">
    <link rel="stylesheet" href="../../static/assets/css/style.css">
    <style>
        .main {
            position: absolute;
            top: 100px; /* 控制content的垂直位置 */
            left: 0;
            width: 100%; /* 让content宽度与页面相同 */
            background-color: #f4feff; /* 添加背景颜色，以示区分 */
            padding: 0; /* 添加内边距，以美化内容区域 */
            border-radius: 10px;
            height: 100%;
        }
    </style>
    {% block head-before %}
    {% endblock %}
</head>

<body>

<!-- Preloader Start -->
<div id="preloader-active">
    <div class="preloader d-flex align-items-center justify-content-center">
        <div class="preloader-inner position-relative">
            <div class="preloader-circle"></div>
            <div class="preloader-img pere-text">

            </div>
        </div>
    </div>
</div>
<!-- Preloader Start -->

<header>
    <!-- Header Start -->
    <div class="header-area header-transparrent ">
        <div class="main-header header-sticky">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-xl-2 col-lg-2 col-md-2">
                        <div class="logo">
                            <a href="/"><img src="../../static/assets/img/logo/logo.png" alt=""></a>
                        </div>
                    </div>
                    <div class="col-xl-10 col-lg-10 col-md-10">
                        <!-- Main-menu -->
                        <div class="main-menu f-right d-none d-lg-block">
                            <nav>
                                <ul id="navigation">
                                    {% block nav %}
                                    {% endblock %}
                                </ul>
                            </nav>
                        </div>
                    </div>
                    <!-- Mobile Menu -->
                    <div class="col-12">
                        <div class="mobile_menu d-block d-lg-none"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Header End -->
</header>

<main class="main">
    {% block main %}
    {% endblock %}
</main>

<!-- JS here -->
<!-- All JS Custom Plugins Link Here here -->
{% block foot-after %}
{% endblock %}
<script src="../../static/assets/js/vendor/modernizr-3.5.0.min.js"></script>

<!-- Jquery, Popper, Bootstrap -->
<script src="../../static/assets/js/vendor/jquery-1.12.4.min.js"></script>
<script src="../../static/assets/js/popper.min.js"></script>
<script src="../../static/assets/js/bootstrap.min.js"></script>
<!-- Jquery Mobile Menu -->
<script src="../../static/assets/js/jquery.slicknav.min.js"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="../../static/assets/js/owl.carousel.min.js"></script>
<script src="../../static/assets/js/slick.min.js"></script>
<!-- Date Picker -->
<script src="../../static/assets/js/gijgo.min.js"></script>
<!-- One Page, Animated-HeadLin -->
<script src="../../static/assets/js/wow.min.js"></script>
<script src="../../static/assets/js/animated.headline.js"></script>
<script src="../../static/assets/js/jquery.magnific-popup.js"></script>

<!-- Scrollup, nice-select, sticky -->
<script src="../../static/assets/js/jquery.scrollUp.min.js"></script>
<script src="../../static/assets/js/jquery.nice-select.min.js"></script>
<script src="../../static/assets/js/jquery.sticky.js"></script>

<!-- contact js -->
<script src="../../static/assets/js/contact.js"></script>
<script src="../../static/assets/js/jquery.form.js"></script>
<script src="../../static/assets/js/jquery.validate.min.js"></script>
<script src="../../static/assets/js/mail-script.js"></script>
<script src="../../static/assets/js/jquery.ajaxchimp.min.js"></script>

<!-- Jquery Plugins, main Jquery -->
<script src="../../static/assets/js/plugins.js"></script>
<script src="../../static/assets/js/main.js"></script>


</body>
</html>