<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>用户中心 — SudaCloud</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">

    <script src="../../static/theme/cool/assets/js/663oAX_et55Nw-9sjwwB5L3PB9U.js"></script>
    <link rel="shortcut icon" type="image/x-icon" href="../../static/assets/img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="../../static/theme/cool/assets/css/all.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/theme/cool/assets/vendors/css/vendors.min.css">
    <link rel="stylesheet" type="text/css" href="../../static/theme/cool/assets/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="../../static/theme/cool/assets/css/bootstrap-extended.css">
    <link rel="stylesheet" type="text/css" href="../../../../RASMS/app/static/assets/css/cool.css">
    <link rel="stylesheet" type="text/css" href="../../static/theme/cool/assets/css/theme/style-red.css">
    <link rel="stylesheet" type="text/css" href="../../static/theme/cool/assets/css/plugins/sweetalert2.min.css">

    <style>
        .nav-pills .nav-link {
            font-weight: 500;
            transition: all .15s ease;
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        }

        @media (max-width: 575.98px) {
            .nav-pills .nav-item {
                margin-bottom: 1rem
            }
        }

        @media (max-width: 767.98px) {
            .nav-pills:not(.nav-pills-circle) .nav-item {
                padding-right: 0
            }
        }

        .btn:not(:last-child) {
            margin-right: .5rem
        }

    </style>
</head>


<body class="vertical-layout vertical-menu-modern dark-layout 2-columns navbar-floating footer-static pace-done menu-expanded"
      data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">

<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="navbar-collapse" id="navbar-mobile">
                <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mobile-menu d-xl-none mr-auto"><a
                                class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                class="ficon feather icon-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav bookmark-icons">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link" href="/user/profile"
                                                                  data-toggle="tooltip" data-placement="top" title
                                                                  data-original-title="My Account"><i
                                class="ficon feather icon-user"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav bookmark-icons">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link" href="/user/code"
                                                                  data-toggle="tooltip" data-placement="top" title
                                                                  data-original-title="My wallet"><i
                                class="ficon feather icon-credit-card"></i></a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav float-right">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand"><i
                            class="ficon feather icon-maximize"></i></a></li>
                    <li class="dropdown dropdown-notification nav-item"><a href="#" data-toggle="dropdown" id="tongzhi"
                                                                           class="nav-link notification-toggle nav-link-lg beep"><i
                            class="ficon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">温馨提示
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="/user/announcement" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        查看公告日志!
                                        <div class="time text-primary">2023-10-06 13:04:31</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link"
                                                                   href="#" data-toggle="dropdown">
                        <div class="user-nav d-sm-flex d-none"><span class="user-name text-bold-600">彭松焕</span><span
                                class="user-status"><span class="__cf_email__"
                                                          data-cfemail="5d6c6d6f6e6d646f65646e1d2c2c733e3230">[email&#160;protected]</span></span>
                        </div>
                        <span><img class="round" src="https://q4.qlogo.cn/g?b=qq&nk=1023092893@qq.com&s=3" alt="avatar"
                                   height="40" width="40"></span>
                    </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/profile"><i class="feather icon-user"></i> 我的账号</a>
                            <a class="dropdown-item" href="/user/code"><i class="feather icon-credit-card"></i> 我的背包</a>
                            <a class="dropdown-item" href="/user/invite"><i class="feather icon-paperclip"></i> 推荐计划</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/logout"><i class="feather icon-power"></i> 退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="/app/static">
                <div class="brand-logo"></div>
                <h2 class="brand-text mb-0"></h2>
            </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i class="icon-x d-block d-xl-none font-medium-4 primary toggle-icon feather icon-disc"></i><i
                    class="toggle-icon icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary feather"
                    data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main sidebarnav" data-menu="menu-navigation">
            <li class="nav-item"><a href="/user"><i class="feather icon-home"></i><span
                    class="menu-title">首页</span></a></li>
            <li class="nav-item"><a href="/user/shop"><i class="feather icon-shopping-cart"></i><span
                    class="menu-title">商店</span></a></li>
            <li class="nav-item navigation-header"><span>我的</span></li>
            <li class="nav-item"><a href="/user/profile"><i class="feather icon-user"></i><span
                    class="menu-title">我的账号</span></a></li>
            <li class="nav-item"><a href="/user/code"><i class="feather icon-credit-card"></i><span class="menu-title">我的钱包</span></a>
            </li>
            <li class="nav-item"><a href="/user/invite"><i class="feather icon-paperclip"></i><span class="menu-title">邀请注册</span></a>
            </li>
            <li class="navigation-header"><span>使用</span></li>
            <li class="nav-item"><a href="/user/node"><i class="feather icon-server"></i><span
                    class="menu-title">节点列表</span></a></li>
            <li class="nav-item"><a href="/user/subscribe_log"><i class="feather icon-align-left"></i><span
                    class="menu-title">订阅记录</span></a></li>
            <li class="nav-item"><a href="https://book.bilicdn.net/"><i class="feather icon-book"></i><span
                    class="menu-title">使用教程</span></a></li>
            <li class="nav-item"><a href="/user/share-account"><i class="feather icon-share-2"></i><span
                    class="menu-title">共享账号</span></a></li>
            <li class="nav-item"><a href="/user/edit"><i class="feather icon-settings"></i><span
                    class="menu-title">节点设置</span></a></li>
            <li class="nav-item"><a href="/user/ticket"><i class="feather icon-headphones"></i><span class="menu-title">工单系统</span></a>
            </li>
            <li class="nav-item"><a href="/user/detect"><i class="feather icon-sliders"></i><span class="menu-title">审计系统</span></a>
            </li>
        </ul>
    </div>
</div>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card bg-analytics text-white">
                            <div class="card-content">
                                <div class="card-body text-center">
                                    <img src="{% static 'theme/cool/assets/images/elements/decore-left.png' %}"/> class="img-left"
                                         alt="card-img-left">
                                    <img src="{% static 'theme/cool/assets/images/elements/decore-right.png' %}"/> class="img-right"
                                         alt="card-img-right">
                                    <div class="avatar avatar-xl bg-primary shadow mt-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-award white font-large-1"></i>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="mb-2 text-white">Hi, 彭松焕</h1>
                                        <p class="m-auto w-75">欢迎使用 <strong>SudaCloud</strong>，期待给您带来优秀的网络加速服务
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h3 font-weight-bold mb-0">按量付费</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 14px;">
                                            按量付费启用中</h5>
                                    </div>
                                    <div class="avatar bg-rgba-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-user font-medium-5" style="color:#7367f0"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-stats">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h3 font-weight-bold mb-0">1 / 2</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 14px;">
                                            在线设备数</h5>
                                    </div>
                                    <div class="avatar bg-rgba-warning p-50 m-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-server text-warning font-medium-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-3 col-md-6">
                        <div class="card card-stats">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h3 font-weight-bold mb-0">¥ 12.80</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 14px;">
                                            账户余额 </h5>
                                    </div>
                                    <div class="avatar bg-rgba-success p-50 m-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-credit-card text-success font-medium-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-stats">

                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h3 font-weight-bold mb-0">100 <small>Mbps</small></span>
                                        <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 14px;">
                                            宽带速率</h5>
                                    </div>
                                    <div class="avatar bg-gradient-info p-50 m-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-bar-chart-2 text-gradient-info font-medium-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6 col-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    第一
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    第二
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body">
                                    第三
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 col-md-6 col-lg-6">
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-end">
                                第四右头
                            </div>
                            <hr/>
                            <div class="card-content">
                                <div class="card-body pt-0">
                                    第四右身体
                                </div>
                            </div>
                        </div>
                        <div class="card">
                            <div class="card-header d-flex justify-content-between align-items-end">
                                第五右头
                            </div>
                            <hr/>
                            <div class="card-content">
                                <div class="card-body pt-0">
                                    第五身体
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
</div>

<footer class="footer footer-static footer-light">
    <p class="clearfix blue-grey lighten-2 mb-0">
        <span class="float-md-left d-block d-md-inline-block mt-25">Copyright &copy; 2023 By • <a
                class="text-bold-800 grey darken-2" href="https://pshxx.cc/about/" target="_blank">Psh</a></span>
        <span class="float-md-right d-none d-md-block">Dream is like underwear. Although you have it, you can not show it to everyone you meet.</span>
    </p>
</footer>

<script data-cfasync="false" src="../../static/theme/cool/assets/js/email-decode.min.js"></script>
<script src="../../static/theme/cool/assets/js/jquery.min.js"></script>
<script src="../../static/theme/cool/assets/vendors/js/vendors.min.js"></script>
<script src="../../static/theme/cool/assets/js/jquery.validate.min.js"></script>
<script src="../../static/theme/cool/assets/js/notify.js"></script>
<script src="../../static/theme/cool/assets/js/clipboard.min.js"></script>
<script src="../../static/theme/cool/assets/js/sweetalert2.min.js"></script>
<script src="../../static/theme/cool/assets/js/cool.js?v7"></script>
<script src="../../static/theme/cool/assets/js/core/app.js"></script>
<script src="../../static/theme/cool/assets/js/core/app-menu.js"></script>
<script src="../../static/theme/cool/assets/vendors/js/charts/apexcharts.min.js"></script>
<script src="../../static/theme/cool/assets/js/scripts/pages/dashboard-ecommerce.js"></script>
<script>
	  var sessionChartoptions = {
	    chart: {
	      type: 'donut',
	      height: 325,
	      toolbar: {
	        show: false
	      }
	    },
	    dataLabels: {
	      enabled: false
	    },
	    series: [0.045769472471761, 99.952428821919, 0.0018017056087653],
	    legend: { show: false },
	    comparedResult: [2, -3, 8],
	    labels: ['可用', '已用', '今日已用'],
	    stroke: { width: 0 },
	    colors: ['#7367F0', '#FF9F43', '#EA5455'],
	    fill: {
	      type: 'gradient',
	      gradient: {
	        gradientToColors: ['#A9A2F6', '#ffc085', '#f29292']
	      }
	    }
	  }
	</script>
<script>
		$("#reset-link").click(function () {
			swal('重置成功', "请变更或添加您的订阅链接！～～",'success');
			window.setTimeout("location.href='/user/url_reset'", 1200);
		});
	</script>
</body>

</html>