{% extends 'test/tem.html' %}
{% load static %}
{% block app-head %}

{% endblock %}


{% block app-content %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card bg-analytics text-white">
                            <div class="card-content">
                                <div class="card-body text-center">
                                    <img src="{% static 'theme/cool/assets/images/elements/decore-left.png' %}"
                                         class="img-left"
                                         alt="card-img-left"/>
                                    <img src="{% static 'theme/cool/assets/images/elements/decore-right.png' %}"
                                         class="img-right"
                                         alt="card-img-right"/>
                                    <div class="avatar avatar-xl bg-primary shadow mt-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-award white font-large-1"></i>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="mb-2 text-white">Hi, {{ name }}</h1>
                                        <p class="m-auto w-75">欢迎使用 <strong>云视化</strong>，期待给您带来优秀的体验
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h3 font-weight-bold mb-0">{{ city.ip }}</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 14px;">
                                            登录IP</h5>
                                    </div>
                                    <div class="avatar bg-rgba-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-user font-medium-5" style="color:#7367f0"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h3 font-weight-bold mb-0">{{ city.ip_addr }}</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 14px;">
                                            登录地区 </h5>
                                    </div>
                                    <div class="avatar bg-rgba-success p-50 m-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-credit-card text-success font-medium-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="content-header row">
            <div class="content-header-right col-md-12 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-6">
                        <h2 class="content-header-title float-left mb-0">优质文章</h2>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="https://pshxx.cc">PSH</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-6">
                        <h2 class="content-header-title float-left mb-0">优质语句</h2>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/job51/Visualization">Visualization</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="article-panel">
                                <span class="a-card d-none d-md-block d-lg-block"></span>
                                <div class="a-thumb"
                                     style="position: relative;float: left;overflow: hidden;margin: 20px;width: 256px;height: 144px;">
                                    <a href="https://pshxx.cc/2023/07/20/%E9%9D%92%E9%BE%99%E9%83%A8%E7%BD%B2%E6%95%99%E7%A8%8B/">
                                        <img src="https://bu.dusays.com/2023/07/13/64af70c3e6ac9.jpg"
                                             style="width: 100%;height: 100%">
                                    </a>
                                </div>
                                <div class="a-post 1">
                                    <div class="header">
                                        <h3 class="title"><a href="https://www.nbmao.com/archives/6006">青龙部署教程</a>
                                        </h3>
                                    </div>
                                    <div class="content">
                                        <p>
                                            青龙面板部署教程包含了安装Docker、拉取镜像、防火墙端口设置以及拉取任务的详细步骤。同时提供了常用的定时规则cron表达式和脚本仓库供参考。</p>
                                    </div>
                                </div>
                                <div class="a-meta">
                                    <span class="float-left d-none d-md-block">
                                        <span class="mr-2"><i class="kicon i-calendar"></i>2023-09-27</span>
                                        <span class="article-meta tags">
                                            <a class="article-meta__tags" href="https://pshxx.cc/tags/docker-compose/"
                                               tabindex="-1"
                                               data-pjax-state=""> <span> <i
                                                    class="anzhiyufont anzhiyu-icon-hashtag"></i>#docker-compose</span>
                                            </a>
                                            <a class="article-meta__tags"
                                               href="https://pshxx.cc/tags/%E9%BB%91%E7%A7%91%E6%8A%80/"
                                               tabindex="-1" data-pjax-state=""> <span> <i
                                                    class="anzhiyufont anzhiyu-icon-hashtag"></i>#黑科技</span>
                                            </a>
                                            <a class="article-meta__tags"
                                               href="https://pshxx.cc/tags/%E4%BE%BF%E6%8D%B7/"
                                               tabindex="-1" data-pjax-state=""> <span> <i
                                                    class="anzhiyufont anzhiyu-icon-hashtag"></i>#便捷</span></a>
                                            <a class="article-meta__tags"
                                               href="https://pshxx.cc/tags/%E9%9D%92%E9%BE%99/"
                                               tabindex="-1" data-pjax-state=""> <span> <i
                                                    class="anzhiyufont anzhiyu-icon-hashtag"></i>#青龙</span></a>
                                            <a class="article-meta__tags"
                                               href="https://pshxx.cc/tags/%E8%84%9A%E6%9C%AC%E7%AE%A1%E7%90%86/"
                                               tabindex="-1"
                                               data-pjax-state=""> <span> <i
                                                    class="anzhiyufont anzhiyu-icon-hashtag"></i>#脚本管理</span></a>
                                        </span>
                                    </span>
                                    <span class="float-right" style="padding-bottom: 10px"><a
                                            href="https://pshxx.cc/2023/07/20/%E9%9D%92%E9%BE%99%E9%83%A8%E7%BD%B2%E6%95%99%E7%A8%8B/">阅读全文<i
                                            class="kicon i-rightbutton"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <div class="article-panel">
                                <span class="a-card d-none d-md-block d-lg-block"></span>
                                <div class="a-thumb"
                                     style="position: relative;float: left;overflow: hidden;margin: 20px;width: 256px;height: 144px;">
                                    <a href="https://pshxx.cc/2023/08/20/Docker-compose%E5%AE%89%E8%A3%85%E6%95%99%E7%A8%8B/">
                                        <img src="https://bu.dusays.com/2023/09/01/64f1ae8f0b1c7.jpeg"
                                             style="width: 100%;height: 100%">
                                    </a>
                                </div>
                                <div class="a-post 1">
                                    <div class="header">
                                        <h3 class="title"><a href="https://www.nbmao.com/archives/6006">Docker-compose安装教程</a>
                                        </h3>
                                    </div>
                                    <div class="content">
                                        <p>这篇教程介绍了在重庆地区安装Docker
                                            Compose的步骤。教程包括从官网下载安装包到配置环境变量的详细指导。最后，教程提供了检查安装是否成功的方法。</p>
                                    </div>
                                </div>
                                <div class="a-meta">
                                    <span class="float-left d-none d-md-block">
                                        <span class="mr-2"><i class="kicon i-calendar"></i>2023-08-20</span>
                                        <span class="article-meta tags"><a class="article-meta__tags"
                                                                           href="https://pshxx.cc/tags/%E6%95%99%E7%A8%8B/"
                                                                           tabindex="-1" draggable="false"
                                                                           data-pjax-state=""> <span> <i
                                                class="anzhiyufont anzhiyu-icon-hashtag"></i>#教程</span></a><a
                                                class="article-meta__tags" href="https://pshxx.cc/tags/docker/"
                                                tabindex="-1"
                                                draggable="false" data-pjax-state=""> <span> <i
                                                class="anzhiyufont anzhiyu-icon-hashtag"></i>#docker</span></a><a
                                                class="article-meta__tags" href="https://pshxx.cc/tags/python/"
                                                tabindex="-1"
                                                draggable="false" data-pjax-state=""> <span> <i
                                                class="anzhiyufont anzhiyu-icon-hashtag"></i>#python</span></a><a
                                                class="article-meta__tags" href="https://pshxx.cc/tags/docker-compose/"
                                                tabindex="-1"
                                                draggable="false" data-pjax-state=""> <span> <i
                                                class="anzhiyufont anzhiyu-icon-hashtag"></i>#docker-compose</span></a></span>
                                    </span>
                                    <span class="float-right" style="padding-bottom: 10px"><a
                                            href="https://pshxx.cc/2023/08/20/Docker-compose%E5%AE%89%E8%A3%85%E6%95%99%E7%A8%8B/">阅读全文<i
                                            class="kicon i-rightbutton"></i></a>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-end" style="color: #ed8283;">
                        励志句子
                    </div>
                    <hr/>
                    <div class="card-content">
                        <div class="card-body pt-0 text-italic blockquote">
                            {{ sentences.0 }}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-end" style="color: #ed8283;">
                        毒鸡汤
                    </div>
                    <hr/>
                    <div class="card-content">
                        <div class="card-body pt-0 text-italic blockquote">
                            {{ sentences.1 }}
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-end" style="color: #ed8283;">
                        一句诗词
                    </div>
                    <hr/>
                    <div class="card-content">
                        <div class="card-body pt-0 text-italic blockquote">
                            {{ sentences.2.0 }}   {{ sentences.2.1 }}---{{ sentences.2.2 }}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app-foot %}

{% endblock %}