{% extends 'test/tem.html' %}
{% load static %}
{% block app-head %}

{% endblock %}


{% block app-content %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="col-lg-6 col-md-12 col-sm-12">
                        <div class="card bg-analytics text-white">
                            <div class="card-content">
                                <div class="card-body text-center">
                                    <img src="{% static 'theme/cool/assets/images/elements/decore-left.png' %}"
                                         class="img-left"
                                         alt="card-img-left"/>
                                    <img src="{% static 'theme/cool/assets/images/elements/decore-right.png' %}"
                                         class="img-right"
                                         alt="card-img-right"/>
                                    <div class="avatar avatar-xl bg-primary shadow mt-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-award white font-large-1"></i>
                                        </div>
                                    </div>
                                    <div class="text-center">
                                        <h1 class="mb-2 text-white">Hi, {{ name }}</h1>
                                        <p class="m-auto w-75">欢迎使用 <strong>云视化</strong>，期待给您带来优秀的体验
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-xl-6 col-md-6">
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h3 font-weight-bold mb-0">{{ city.ip }}</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 14px;">
                                            IP</h5>
                                    </div>
                                    <div class="avatar bg-rgba-primary p-50 m-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-user font-medium-5" style="color:#7367f0"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card card-stats">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col">
                                        <span class="h3 font-weight-bold mb-0">{{ city.ip_addr }}</span>
                                        <h5 class="card-title text-uppercase text-muted mb-0" style="font-size: 14px;">
                                            地区 </h5>
                                    </div>
                                    <div class="avatar bg-rgba-success p-50 m-0">
                                        <div class="avatar-content">
                                            <i class="feather icon-credit-card text-success font-medium-5"></i>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>

        <div class="content-header row">
            <div class="content-header-right col-md-12 col-12 mb-2">
                <div class="row breadcrumbs-top">
                    <div class="col-6">
                        <h2 class="content-header-title float-left mb-0">优质文章</h2>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/job51/Visualization">Visualization</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                    <div class="col-6">
                        <h2 class="content-header-title float-left mb-0">优质网站</h2>
                        <div class="breadcrumb-wrapper col-12">
                            <ol class="breadcrumb">
                                <li class="breadcrumb-item"><a href="/index">Home</a>
                                </li>
                                <li class="breadcrumb-item"><a href="/job51/Visualization">Visualization</a>
                                </li>
                            </ol>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 col-12">
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            <img src="https://bu.dusays.com/2023/07/13/64af70c3e6ac9.jpg" style="width: 100%;height: 100%">
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            第二
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="card-body">
                            第三
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6 col-lg-6">
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-end">
                        第四右头
                    </div>
                    <hr/>
                    <div class="card-content">
                        <div class="card-body pt-0">
                            第四右身体
                        </div>
                    </div>
                </div>
                <div class="card">
                    <div class="card-header d-flex justify-content-between align-items-end">
                        第五右头
                    </div>
                    <hr/>
                    <div class="card-content">
                        <div class="card-body pt-0">
                            第五身体
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block app-foot %}

{% endblock %}