{% extends "pshxx.html" %}

{% block main %}
    <section class="service-area services-padding" style="padding-top:100px">
        <table border="1px" class="table-striped">
            <tr>
                <td align="center">岗位名称</td>
                <td align="center" width="50px">地区</td>
                <td align="center" width="150px">公司全称</td>
                <td align="center">薪资</td>
                <td align="center" width="50px">学历要求</td>
                <td align="center" width="150px">职业类别</td>
                <td align="center" width="150px">招收对象</td>
                <td align="center" width="50px">企业类别</td>
                <td align="center" width="100px">更新时间</td>
                <td align="center">关键字</td>
            </tr>
            {% for i in data %}
                <tr>
                    <td align="center">{{ i.JobTitle }}</td>
                    <td align="center">{{ i.Area }}</td>
                    <td align="center">{{ i.CompanyName }}</td>
                    <td align="center">{{ i.Salary }}</td>
                    <td align="center">{{ i.EducationRequirement }}</td>
                    <td align="center">{{ i.OccupationCategory }}</td>
                    <td align="center">{{ i.RecruitingTargets }}</td>
                    <td align="center">{{ i.EnterpriseCategory }}</td>
                    <td align="center">{{ i.UpdateTime }}</td>
                    <td align="center">{{ i.Keywords }}</td>
                    {#                  <td>{{info[7]}}</td>#}
                    {#                  <td align="center" bgcolor="#dcdcdc">#}
                    {#                      <a href="{{ data['关键字'][i] }}" target="_blank">#}
                    {#                      {{data['关键字'][i] }}#}
                    {#                      </a>#}
                    {#                  </td>#}
                </tr>
            {% endfor %}
        </table>
    </section>
{% endblock %}