{% load static %}
<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>用户中心 — SudaCloud</title>
    <meta charset="UTF-8"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@fortawesome/fontawesome-free@5.8.2/css/all.min.css">
    <script src="{% static 'theme/cool/assets/js/663oAX_et55Nw-9sjwwB5L3PB9U.js' %}"></script>
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'assets/img/favicon.ico' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/cool/assets/vendors/css/vendors.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/cool/assets/css/bootstrap.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/cool/assets/css/bootstrap-extended.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/cool/assets/css/cool.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/cool/assets/css/theme/style-red.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'theme/cool/assets/css/plugins/sweetalert2.min.css' %}">

    <style>
        .nav-pills .nav-link {
            font-weight: 500;
            transition: all .15s ease;
            box-shadow: 0 4px 6px rgba(50, 50, 93, .11), 0 1px 3px rgba(0, 0, 0, .08);
        }

        @media (max-width: 575.98px) {
            .nav-pills .nav-item {
                margin-bottom: 1rem
            }
        }

        @media (max-width: 767.98px) {
            .nav-pills:not(.nav-pills-circle) .nav-item {
                padding-right: 0
            }
        }

        .btn:not(:last-child) {
            margin-right: .5rem
        }

    </style>
    {% block app-head %}{% endblock %}
</head>


<body class="vertical-layout vertical-menu-modern dark-layout 2-columns navbar-floating footer-static pace-done menu-expanded"
      data-open="click" data-menu="vertical-menu-modern" data-col="2-columns">
<nav class="header-navbar navbar-expand-lg navbar navbar-with-menu floating-nav navbar-light navbar-shadow">
    <div class="navbar-wrapper">
        <div class="navbar-container content">
            <div class="navbar-collapse" id="navbar-mobile">
                <div class="mr-auto float-left bookmark-wrapper d-flex align-items-center">
                    <ul class="nav navbar-nav">
                        <li class="nav-item mobile-menu d-xl-none mr-auto"><a
                                class="nav-link nav-menu-main menu-toggle hidden-xs" href="#"><i
                                class="ficon feather icon-menu"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav bookmark-icons">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link" href="/profile"
                                                                  data-toggle="tooltip" data-placement="top" title
                                                                  data-original-title="My Account"><i
                                class="ficon feather icon-user"></i></a></li>
                    </ul>
                    <ul class="nav navbar-nav bookmark-icons">
                        <li class="nav-item d-none d-lg-block"><a class="nav-link" href="https://github.com/Bvbrutal"
                                                                  data-toggle="tooltip" data-placement="top" title
                                                                  data-original-title="My github"><i
                                class="ficon feather icon-credit-card"></i></a></li>
                    </ul>
                </div>
                <ul class="nav navbar-nav float-right">
                    <li class="nav-item d-none d-lg-block"><a class="nav-link nav-link-expand"><i
                            class="ficon feather icon-maximize"></i></a></li>
                    <li class="dropdown dropdown-notification nav-item"><a href="#" data-toggle="dropdown" id="tongzhi"
                                                                           class="nav-link notification-toggle nav-link-lg beep"><i
                            class="ficon feather icon-bell"></i></a>
                        <div class="dropdown-menu dropdown-list dropdown-menu-right">
                            <div class="dropdown-header">温馨提示
                            </div>
                            <div class="dropdown-list-content dropdown-list-icons">
                                <a href="#" class="dropdown-item dropdown-item-unread">
                                    <div class="dropdown-item-icon bg-primary text-white">
                                        <i class="fas fa-code"></i>
                                    </div>
                                    <div class="dropdown-item-desc">
                                        暂无通知
                                        <div class="time text-primary">2023-10-06 13:04:31</div>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </li>
                    <li class="dropdown dropdown-user nav-item"><a class="dropdown-toggle nav-link dropdown-user-link"
                                                                   href="#" data-toggle="dropdown">
                        <div class="user-nav d-sm-flex d-none"><span class="user-name text-bold-600">彭松焕</span><span
                                class="user-status"><span class="__cf_email__"
                                                          data-cfemail="5d6c6d6f6e6d646f65646e1d2c2c733e3230">[email&#160;protected]</span></span>
                        </div>
                        <span><img class="round" src="https://q4.qlogo.cn/g?b=qq&nk=1023092893@qq.com&s=3" alt="avatar"
                                   height="40" width="40"></span>
                    </a>
                        <div class="dropdown-menu dropdown-menu-right">
                            <a class="dropdown-item" href="/user/profile"><i class="feather icon-user"></i> 我的账号</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="/user/logout"><i class="feather icon-power"></i> 退出登录</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="main-menu menu-fixed menu-light menu-accordion menu-shadow" data-scroll-to-active="true">
    <div class="navbar-header">
        <ul class="nav navbar-nav flex-row">
            <li class="nav-item mr-auto"><a class="navbar-brand" href="/">
                <div class="brand-logo"></div>
                <h2 class="brand-text mb-0"></h2>
            </a></li>
            <li class="nav-item nav-toggle"><a class="nav-link modern-nav-toggle pr-0" data-toggle="collapse"><i
                    class="icon-x d-block d-xl-none font-medium-4 primary toggle-icon feather icon-disc"></i><i
                    class="toggle-icon icon-disc font-medium-4 d-none d-xl-block collapse-toggle-icon primary feather"
                    data-ticon="icon-disc"></i></a></li>
        </ul>
    </div>
    <div class="shadow-bottom"></div>
    <div class="main-menu-content">
        <ul class="navigation navigation-main sidebarnav" data-menu="menu-navigation">
            <li class="nav-item"><a href="/"><i class="feather icon-home"></i><span
                    class="menu-title">首页</span></a></li>
            <li class="nav-item"><a href="/user/profile"><i class="feather icon-home"></i><span
                    class="menu-title">我的</span></a></li>
            <li class="nav-item navigation-header"><span>51job-data</span></li>
            <li class="nav-item"><a href="/job51/index"><i class="feather icon-home"></i><span
                    class="menu-title">51JOB</span></a></li>
            <li class="nav-item"><a href="/job51/data_show"><i
                    class="feather icon-shopping-cart"></i><span
                    class="menu-title">展示&搜索</span></a></li>
            <li class="nav-item"><a href="/job51/visualization"><i
                    class="feather icon-shopping-cart"></i><span
                    class="menu-title">可视化</span></a></li>
            <li class="nav-item"><a href="/job51/visual_screen"><i
                    class="feather icon-shopping-cart"></i><span
                    class="menu-title">大屏展示</span></a></li>
            <li class="nav-item navigation-header"><span>AI-tools</span></li>
            <li class="nav-item"><a href="/aitools/index"><i
                    class="feather icon-shopping-cart"></i><span
                    class="menu-title">AI-TOOLS</span></a></li>
            <li class="nav-item"><a href="/aitools/whisper"><i
                    class="feather icon-shopping-cart"></i><span
                    class="menu-title">WHISPER</span></a></li>
            <li class="nav-item"><a href="/aitools/pdf_gpt"><i
                    class="feather icon-shopping-cart"></i><span
                    class="menu-title">PDF-GPT</span></a></li>
        </ul>
    </div>
</div>

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    {% block app-content %}{% endblock %}
</div>

<footer class="footer footer-static footer-light">
    <p class="clearfix blue-grey lighten-2 mb-0">
        <span class="float-md-left d-block d-md-inline-block mt-25">Copyright &copy; 2023 By • <a
                class="text-bold-800 grey darken-2" href="https://pshxx.cc/about/" target="_blank">Psh</a></span>
        <span class="float-md-right d-none d-md-block">Dream is like underwear. Although you have it, you can not show it to everyone you meet.</span>
    </p>
</footer>

<script data-cfasync="false" src="{% static 'theme/cool/assets/js/email-decode.min.js' %}"></script>
<script src="{% static 'theme/cool/assets/js/jquery.min.js' %}"></script>
<script src="{% static 'theme/cool/assets/vendors/js/vendors.min.js' %}"></script>
<script src="{% static 'theme/cool/assets/js/jquery.validate.min.js' %}"></script>
<script src="{% static 'theme/cool/assets/js/notify.js' %}"></script>
<script src="{% static 'theme/cool/assets/js/clipboard.min.js' %}"></script>
<script src="{% static 'theme/cool/assets/js/sweetalert2.min.js' %}"></script>
<script src="{% static 'theme/cool/assets/js/cool.js?v7' %}"></script>
<script src="{% static 'theme/cool/assets/js/core/app.js' %}"></script>
<script src="{% static 'theme/cool/assets/js/core/app-menu.js' %}"></script>
<script src="{% static 'theme/cool/assets/vendors/js/charts/apexcharts.min.js' %}"></script>
<script src="{% static 'theme/cool/assets/js/scripts/pages/dashboard-ecommerce.js' %}"></script>
<script>
    var sessionChartoptions = {
        chart: {
            type: 'donut',
            height: 325,
            toolbar: {
                show: false
            }
        },
        dataLabels: {
            enabled: false
        },
        series: [0.045769472471761, 99.952428821919, 0.0018017056087653],
        legend: {show: false},
        comparedResult: [2, -3, 8],
        labels: ['可用', '已用', '今日已用'],
        stroke: {width: 0},
        colors: ['#7367F0', '#FF9F43', '#EA5455'],
        fill: {
            type: 'gradient',
            gradient: {
                gradientToColors: ['#A9A2F6', '#ffc085', '#f29292']
            }
        }
    }
</script>
<script>
    $("#reset-link").click(function () {
        swal('重置成功', "请变更或添加您的订阅链接！～～", 'success');
        window.setTimeout("location.href='/user/url_reset'", 1200);
    });
</script>


{% block app-foot %}{% endblock %}

</body>

</html>