{% extends 'tem.html' %}
{% load static %}

{% block app-head %}

{% endblock %}


{% block app-content %}
    <div class="content-wrapper">
        <div class="content-header row">
        </div>
        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">
                    <div class="col-12 col-md-12 col-lg-12">
                        <div class="card">
                            <div class="card-content">
                                <div class="card-body" style="height: 800px">
                                    <iframe frameborder="0" src="http://51job.pshxx.cc/test"
                                            style="width: 100%; height: 100%"></iframe>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
{% endblock %}

{% block app-foot %}

{% endblock %}