{% extends 'pshxx.html' %}

{% block main %}
    <div class="slider-area ">
        <div class="slider-active">
            <div class="single-slider slider-height slider-padding sky-blue d-flex">
                <div class="container">
                    <div class="row d-flex align-items-center">
                        <img class="align-content-center" src="../static/img/keyword.jpg" width="1280px" height="600px"
                             alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>{% endblock %}